@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.section-container {
  @apply max-w-6xl mx-auto text-center px-10;
}

.section-cont {
  @apply max-w-3xl mx-auto  leading-9 text-center text-grayishBlue;
}

@layer base {
  h3 {
    @apply mb-8 text-4xl font-bold text-darkGrayishBlue md:text-5xl;
  }

  h5 {
    @apply mb-2 text-2xl font-bold text-darkGrayishBlue;
  }
}

.button-cont {
  @apply flex justify-center flex-col w-full space-y-6 text-xl text-white md:flex-row md:space-y-0 md:space-x-4;
}
body {
  background-image: url("./clipboard/images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 576px) {
  body {
    background-image: url(./clipboard/images//bg-header-mobile.png);
  }
}

.ficon:hover {
  filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg)
    brightness(101%) contrast(94%);
}
